.fa-pulse {
    -webkit-animation: fa-spin 0.6s steps(8) infinite;
    animation: fa-spin 0.6s steps(8) infinite;
}
.dark .create-workform .search-dropdown-select .btn-group li .item,
.dark .clockpicker-popover .popover-title,
.dark .clockpicker-popover .popover-content,
.dark .clockpicker-plate,
.dark .clockpicker-button,
.dark .card.bg-white {
    background-color: #535f6b;
    color: #FFF !important;
}
.dark ckpicker-canvas-bearing, .clockpicker-canv {
    fill: #FFF !important;
    stroke: red !important;
}
.link {
    color: #535f6b;
}
.dark .create-workform .search-dropdown-select .search-input,
.dark .clockpicker-tick,
.dark .create-workform .bootstrap-select .dropdown-toggle, .dark .create-workform .form-control,
.dark .link,
.dark .bootstrap-tagsinput input {
    color: #FFF !important;
}
.dropdown-toggle.after-none:after {
    display: none;
}
.dark .badge-color {
    color: #535f6b !important;
}
.bootstrap-tagsinput .tag {
    background-color: #535f6b;
    padding: 1.5px 4px;
}
.social-ic a.facebook:before {
    background-color: #3b5998 !important;
}
.social-ic a.twitter:before {
    background-color: #00aced !important;
}
.social-ic a.instagram:before {
    background-color: #E1306C !important;
}
.social-ic a.youtube:before {
    background-color: #bb0000 !important;
}
.social-ic a.whatsapp:before {
    background-color: #64D448 !important;
}
.social-ic a.telegram:before {
    background-color: #0088cc !important;
}
.social-ic a.discord:before {
    background-color: #7689d4 !important;
}
.social-ic a.linkedin:before {
    background-color: #007bb6 !important;
}
div.social-ic:empty {
  display: none !important;
}
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
select.minimal:focus {
  background-image:
    linear-gradient(45deg, #027dbf 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #027dbf 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #027dbf;
  outline: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}